* {
  margin: 0px;
  padding: 0px;
}

/* Mobile View */
.div-product-homeLink {
  background-color: #efefef;
  color: #8c8b8b;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  height: 8px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.div-product-homeLink > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 20px;
}
.div-product-homeLink > ul > li > a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.div-product-details {
  background-color: #142f42;
  height: 750px;
  display: flex;
  flex-direction: column;
}
#div-product-details-imgCon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.div-product-details-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.div-product-details-image > img {
  padding-top: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.div-product-details-content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
#div-product-details-content1-heading-1 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 30px;
  color: #ffff;
}
#div-product-details-content1-heading-2 {
  padding-top: 15px;
  font-size: 12px;
  color: #ffff;
}

#ratings-bar {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
#ratings-bar > img {
  height: 15px;
  width: 20px;
}

#tableRating tr:nth-child(even) {
  background-color: #4c8bf5;
}

.iconcolor {
  margin-right: 10px;
  color: #ffff;
}
.labelRatings {
  color: #ffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.labelRatings1 {
  color: #ffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
.alignText {
  margin-left: 30px;
}
#div-product-details-Con {
  display: flex;
  flex-direction: column;
}
.div-product-details-content2 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-product-details-content2 > fieldset {
  margin-top: 15px;
  width: 260px;
  height: 125px;
}
.div-product-details-content2 > fieldset > legend {
  padding: 8px;
  color: #ffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.smallFont {
  color: #ffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 10px;
}
.spanCapital {
  font-weight: bold;
}

.div-product-subDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-product-subDetails1 {
  display: none;
}
.div-product-subDetails2 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.div-product-subDetails3 {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.div-product-subDetails1 > ul > li {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  text-align: right;
  color: #4e4c4c;
  letter-spacing: 0px;
  padding: 5px;
  margin-right: 20px;
}
.div-product-subDetails1 > ul > li:hover {
  color: orange;
  font-weight: bold;
}
.div-product-subDetails3 > p {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  color: #8a8787;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

#div-product-subDetails3-para {
  font-family: "Montserrat", sans-serif;
  color: #8a8787;
  font-size: 15px;
}
#div-product-subDetails3-img {
  margin-left: 50px;
  margin-right: 50px;
}

#megaSaver {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}
#megaSaver1 {
  font-family: "Montserrat", sans-serif;
  color: #8a8787;
  font-size: 15px;
  margin-bottom: 25px;
}
#td1 {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 21px;
  color: #8a8787;
}
#td1 > p {
  margin-bottom: 8px;
}
#td1 > img {
  width: 20px;
}
#td2 {
  width: 20%;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}
#td2 > img {
  width: 120px;
  margin: 10px;
}

/* Desktop View */
@media only screen and (min-width: 900px) {
  .div-product-homeLink {
    background-color: #efefef;
    color: #8c8b8b;
    padding: 10px;
    padding-left: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    height: 8px;
  }

  .div-product-homeLink > ul > li > a {
    color: #8c8b8b;
    text-decoration: none;
    padding: 6px;
  }

  .div-product-homeLink > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .div-product-homeLink > ul > li > a:hover {
    color: #3f3f3f;
  }

  .div-product-details {
    background-color: #142f42;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #div-product-details-imgCon {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-right: 60px;
  }
  #div-product-details-Con {
    width: 30%;
    height: 180px;
  }

  .div-product-details-image {
    height: 220px;
    margin-left: 120px;
  }
  .div-product-details-image > img {
    width: 100%;
    object-fit: cover;
  }
  .div-product-details-content1 {
    padding-left: 60px;
    font-family: "Montserrat", sans-serif;
  }
  #div-product-details-content1-heading-1 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
    color: #ffff;
  }
  #div-product-details-content1-heading-2 {
    padding-top: 15px;
    font-size: 12px;
    color: #ffff;
  }

  #ratings-bar {
    display: flex;
    flex-direction: row;
    height: 45px;
    padding-top: 10px;
  }
  #ratings-bar > img {
    height: 15px;
    width: 20px;
  }

  #tableRating tr:nth-child(even) {
    background-color: #4c8bf5;
  }

  .iconcolor {
    margin-right: 10px;
    color: #ffff;
  }
  .labelRatings {
    color: #ffff;
    margin-right: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  .labelRatings1 {
    margin-right: 50px;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  .alignText {
    margin-left: 30px;
  }
  .div-product-details-content2 {
    font-family: "Montserrat", sans-serif;
  }
  .div-product-details-content2 > fieldset {
    margin-top: 15px;
    width: 260px;
    height: 160px;
  }
  .div-product-details-content2 > fieldset > legend {
    padding: 8px;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .smallFont {
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 10px;
  }
  .spanCapital {
    font-weight: bold;
  }
  .div-product-subDetails {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .div-product-subDetails1 {
    display: block;
    margin-top: 20px;
    width: 20%;
  }
  .div-product-subDetails2 {
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .div-product-subDetails3 {
    margin-top: 20px;
    width: 20%;
  }
  .div-product-subDetails1 > ul > li {
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    text-align: right;
    color: #4e4c4c;
    letter-spacing: 0px;
    padding: 5px;
    margin-right: 20px;
  }
  .div-product-subDetails1 > ul > li:hover {
    color: orange;
    font-weight: bold;
  }
  .div-product-subDetails3 > p {
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    color: #8a8787;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #div-product-subDetails3-para {
    font-family: "Montserrat", sans-serif;
    color: #8a8787;
    font-size: 15px;
  }
  #div-product-subDetails3 img {
    margin-left: 25px;
    margin-right: 25px;
  }

  #megaSaver {
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  #megaSaver1 {
    font-family: "Montserrat", sans-serif;
    color: #8a8787;
    font-size: 15px;
    margin-bottom: 25px;
  }
  #div-product-subDetails2-table {
    width: 100%;
  }
  #td1 {
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-bottom: 21px;
    color: #8a8787;
  }
  #td1 > p {
    margin-bottom: 8px;
  }
  #td1 > img {
    width: 20px;
  }
  #td2 {
    width: 20%;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  }
  #td2 > img {
    width: 120px;
    margin: 10px;
  }
}
